%section.advanced_bootcamp
  %div.copy
    %div.panel
      %h1
        Advanced Ruby on Rails Bootcamp
      %h2= "September 16-20, 2013 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Seattle, WA" 
      %p
        = soft_hyphenate("The Advanced Ruby on Rails Bootcamp is a one week course designed to teach advanced concepts in Rails. Students should have experience working with an object oriented programming language and have built or worked on a Rails application. Basic understanding of the Ruby Object model, the Rails Framework and MVC are required. The class will be taught at NIRD HQ, located in the Fremont neighborhood of Seattle. If you are interested in taking the class but would like more information, please ")
        %a{:href => '/contact'}
          contact us.
  %div.specialty
    %div.panel
      %h1 Curriculum
      %h2 Day 1
      %ul
        %li Ruby Blocks
        %li MetaProgramming in Ruby
        %li Rake and File IO
      %br
      %h2 Day 2
      %ul
        %li TDD/BDD (rspec, cucumber, capybara)
        %li Build your own RubyGem
        %li Continuous Integration (CI)
      %br
      %h2 Day 3
      %ul
        %li RVM
        %li Advanced git
        %li Speedy Rails
        %li What's new in Rails 4
      %br
      %h2 Day 4
      %ul
        %li Authentication / Authorization / OAuth patterns
        %li Instrumentation (error handling, monitoring, logging, etc...)
        %li AJAX and Rails
        %li Mailers
      %br
      %h2 Day 5
      %ul
        %li Server configurations
        %li Scaling
        %li Deployments
      %br
  %div.specialty
    %div.panel
      %div.details
        %h1 Course Details
        %h2 Dates 
        %p September 16-20, 2013
        %h2 Location
        %p NIRD Office <br>3601 Fremont Ave N, Suite 304 <br> Seattle, WA 98103
        %div.mapframe
          <iframe width="400" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=3601+Fremont+Avenue+N,+Suite+304,+Seattle&amp;aq=&amp;sll=47.65207,-122.349269&amp;sspn=0.007343,0.019269&amp;gl=us&amp;ie=UTF8&amp;hq=&amp;hnear=3601+Fremont+Ave+N+%23304,+Seattle,+King,+Washington+98103&amp;ll=47.652076,-122.349265&amp;spn=0.007343,0.019269&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=3601+Fremont+Avenue+N,+Suite+304,+Seattle&amp;aq=&amp;sll=47.65207,-122.349269&amp;sspn=0.007343,0.019269&amp;gl=us&amp;ie=UTF8&amp;hq=&amp;hnear=3601+Fremont+Ave+N+%23304,+Seattle,+King,+Washington+98103&amp;ll=47.652076,-122.349265&amp;spn=0.007343,0.019269&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
        %h2 Fee: $2,000
      %div.register
        %a{:href=>'https://nirdbootcamp.eventbrite.com'} 
          Register on Eventbrite
  %div.copy 
    %div.panel
      %h2 NIRD Open House & Afterparty Friday Night!
