%section.build
  %div.copy
    %div.panel
      %p
        NIRD is a full-stack Ruby development consultancy. We specialize in providing innovative solutions in Technical Architecture, Visual Design, User Experience, and Development for digital platforms including web, mobile and video. We deliver expertly crafted software and technical strategy. Our training services and our experience setting up server and technical infrastructure make us unique in our industry. NIRD can handle highly technical projects involving server management, as well as flexible, highly extensible web applications that are perfect for start-ups. No matter what the size of your project, we pride ourselves on teaching non-developers how to use and maintain the technical solutions we provide.
      %p
        Our core team of highly skilled developers work collaboratively to achieve an ideal balance of cost, time, and skills on projects. In addition, we frequently bring in trusted professional resources as the project demands. The extensive experience and skills of our multidisciplinary team enable us to provide top-tier agency services without the high cost and complexity associated with those organizations.
  %div.copy
    %div.panel
      %h1
        The NIRD Process
      %p
        NIRD delivers results by breaking complex projects into phases. Each phase consists of completing a group of features. We work closely with our clients to ensure requirements are being met during the development process, which allows us to change course quickly if new business needs are identified. This agile approach enables our team to adapt rapidly to changing requirements while releasing new features quickly.        
      %p
        Each phase is broken down into weekly sprints. The goal of each sprint is determined based on the work that was accomplished during the last sprint. This process allows us to provide an estimated timeline and budget up-front, while leaving the details of the day-to-day work unconstrained.
      %p
        A NIRD Sprint includes each step required to build a feature. Requirements, development, and testing are completed each week, producing a deliverable piece of work at the end of each sprint. NIRD developers create feature stories and tests prior to writing code. These stories and tests ensure that features meet specifications.
      %p
        Developers with experience on the project continue to be     available to do occasional maintenance after project completion. 