%section.contact_method
  %form{:action => "/contact", :method => "post"}
    %div.panel
      %h1 Contact us
      %p Nird Contact Info

      -if form.failed?
        -if form.failed_on?(:name)
          %p Please fill in your name.
        -if form.failed_on?(:email)
          %p Please fill in your email address.
        -if form.failed_on?(:message)
          %p Please include a short message.

      %div.field
        %label{:name => :name}
          * Name:
        %div.input
          %input{:name => :name, :type => 'text'}

      %div.field
        %label{:name => :organization}
          Organization:
        %div.input
          %input{:name => :organization, :type => 'text'}

      %div.field
        %label{:name => :email}
          * Email:
        %div.input
          %input{:name => :email, :type => 'text'}

      %div.field
        %label{:name => :phone}
          Phone:
        %div.input
          %input{:name => :phone, :type => 'text'}

<<<<<<< HEAD
      %div.contact_field
        %label.contact.message{:name => 'post[message]'}
          Send us a message:
        %div.textarea
          %textarea.contact.message{:name => 'post[message]', :type => 'text'}
=======
      %div.field
        %label{:name => :message}
          * Send us a message:
        %div.input
          %textarea{:name => :message, :type => 'text-area'}
>>>>>>> form-validations

      %div.field
        %input{:type => "submit", :value => "Send", :class => "button"}
<<<<<<< HEAD
      %p
      %div.contact_clearfix

=======

      %div.contact_clearfix
>>>>>>> form-validations
    %div.height_set
