%section.contact_method
  %form{:action => "/contact", :method => "post"}
    %div.panel
      %h1 Contact us
      %p Nird Contact Info

      %div.field
        %label{:name => :name}
          * Name:
        %div.input
          %input{:name => :name, :type => 'text'}

      %div.error
        -if form.failed?
          -if form.failed_on?(:name)
            Please fill in your name.

      %div.field
        %label{:name => :organization}
          Organization:
        %div.input
          %input{:name => :organization, :type => 'text'}

      %div.error

      %div.field
        %label{:name => :email}
          * Email:
        %div.input
          %input{:name => :email, :type => 'text'}

      %div.error
        -if form.failed?
          -if form.failed_on?(:email)
            Please fill in your email address.

      %div.field
        %label{:name => :phone}
          Phone:
        %div.input
          %input{:name => :phone, :type => 'text'}

      %div.error
      %div.contact_clearfix

      %div.field
        %label{:name => :message}
          * Send us a message:
        %div.input
          %textarea{:name => :message, :type => 'text-area'}

      %div.error
        -if form.failed?
          -if form.failed_on?(:email)
            Please include a short message.

      %div.textarea_clearfix

      %div.field
        %input{:type => "submit", :value => "Send", :class => "button"}

      %div.contact_clearfix
    %div.height_set
