%section.logo
  %img(src="/images/logo.png")

%section.offerings
  -# When iterating over these structures, use each_value,
  -# as each is returning key-value pairs.
  -@offerings.each_value do |offering|
    %div.offering{:id => offering.id}
      %h2= offering.tagline
      %p=  offering.copy
