%html
  %head
    %meta{:name=>"viewport", :content=>"width=device-width"}
    %title
      = @title
    %link{:rel => "stylesheet", :href => "styles.css"}
    %link{:rel => "shortcut icon", :href => "images/nird_favicon.png"} 
  %header
    %nav
      %a.action{:href=>"mailto:info@nird.us?Subject=Tell%20Me%20More"}
        Let's Make It Happen!
  %body
    %section.logo_center
      %div.logo
        %a.home{:href=>"/"}
          %h1 NIRD
          %h2 Northwest Independent Ruby Development
    
    = yield