%html
  %head
    %meta{:name=>"viewport", :content=>"width=device-width"}
    %title
      = @title
    %link{:rel => "stylesheet", :href => "styles.css"}
    %link{:rel => "shortcut icon", :href => "images/nird_favicon.png"} 
  %body
    %a.home{:href=>"/"}
      %section.logo
        %h1 NIRD
        %h2 Northwest Independent Ruby Development

    %a.action{:href=>"mailto:info@nird.us?Subject=Tell%20Me%20More"}
      Contact Us
    = yield