%html
  %head
    %meta{:name=>"viewport", :content=>"width=device-width"}
    %title
      = @title
    %link{:rel => "stylesheet", :href => "styles.css"}
    %script{:type=>"text/javascript", :src=>"/respond.js"}
    %link{:rel => "shortcut icon", :href => "images/NIRD_favicon.png"} 
  %header
    %nav.top
      %a.action{:href=>"mailto:info@nird.us?Subject=Tell%20Me%20More"}
        Contact NIRD
      %a.pay{:href=>"/pay"}
        Make a Payment
    %script{:type=>"text/javascript"}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37368709-2']);
      _gaq.push(['_setDomainName', 'nird.us']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    %section.logo_center
      %div.logo
        %a.home{:href=>"/"}
          %h1 NIRD
          %h2 Northwest Independent Ruby Development
    
    = yield

  %footer
    %div
      %p © Northwest Independent Ruby Development, LLC 2013. 
    %div
      %a.action{:href=>"mailto:info@nird.us?Subject=Tell%20Me%20More"}
        Contact NIRD
