%form.payment{:action => "/charge", :method => "post"}
  %article
    %p test test

    %label.customer.organization{:name => 'post[organization]'}
      Your Organization:
    %input.customer.organization{:name => 'post[organization]', :type => 'text'}

    %label.customer.project{:name => 'post[project]'}
      Project:
    %input.customer.project{:name => 'post[project]', :type => 'text'}

    %label.customer.invoice{:name => 'post[invoice]'}
      Invoice Number:
    %input.customer.invoice{:name => 'post[invoice]', :type => 'text', :placeholder => 'Invoice Number'}

    %label.amount{:name => 'post[cost]'} Amount:
    %input.amount{:name => 'post[cost]',:type => 'text', :placeholder => 'USD only'}

  %script.stripe-button{:src => "https://checkout.stripe.com/v2/checkout.js", :'data-key' => "#{settings.publishable_key}"}