%section.pay_method
  %form.stripe_form{:action => "/charge", :method => "post"}
    %div.panel
      %h1 Make a Payment

      %div.pay_field
        %label.customer.organization{:name => :organization }
          Organization:
        %div.input
          %input.customer.organization{:name => :organization, :type => 'text'}

      %div.pay_field
        %label.customer.email{:name => :email }
          * Email:
        %div.input
          %input.customer.email{:name => :email, :type => 'text'}

        %div.error
          -if form.failed?
            -if form.failed_on?(:email)
              %h3 Please fill in your email address.

      %div.pay_field
        %label.customer.project{:name => :project }
          Project:
        %div.input
          %input.customer.project{:name => :project, :type => 'text'}

      %div.pay_field
        %label.customer.invoice{:name => :invoice }
          Invoice Number:
        %div.input
          %input.customer.invoice{:name => :invoice, :type => 'text', :placeholder => 'Invoice Number'}

      %div.pay_field
        %label.amount{:name => :cost }
          * Amount:
        %div.input
          %input.amount{:name => :cost, :type => 'text', :placeholder => 'USD'}

        %div.error
          -if form.failed?
            -if form.failed_on?(:cost)
              %h3 Please enter a payment amount.

      %div.field
        %input{:type => "submit", :value => "Make a Payment", :class => "button"}

      %script.stripe-button{:src => "https://checkout.stripe.com/v2/checkout.js", :'data-key' => "#{settings.publishable_key}"}

      -if request.post? && !form.failed?
        %script
          $(".stripe-button-el").click();

      %div.payment_clearfix
      %p
        %strong
          %a{:href=>"/contact"}
            Contact Us
        if you have any questions.
    %div.height_set
