%section.people
	%div.team
		%div.panel
			%div.profile
				%div.image
					%div.container
						%img(src="#{@person.image}")
				%div.text
					%h1=@person.full_name
					-@person.description.each_value do |paragraphs|
						%p=paragraphs
			%div.height_set