%section.teach
  %div.copy
    %div.panel
      %p
        Why Ruby? Ruby is ver­sat­ile, easy to code in, and hon­estly a lot of fun. It’s used by thou­sands of com­pan­ies and mil­lions of people every day. It’s also easy to learn, be­cause Ruby was writ­ten for hu­mans, not ma­chines. If you’ve nev­er touched code be­fore, Ruby is a great place to start. For ex­per­i­enced pro­gram­mers, we prom­ise Ruby will rap­idly be­come your new fa­vor­ite pro­gram­ming lan­guage. Here at NIRD, we’re pas­sion­ate about Ruby and Ruby-on-Rails, and we can’t wait to share that ex­per­i­ence with you.
  %div.specialty
    %div.panel
      %h1
        Remote Trainings
      %p
        We can host remote training sessions for your team, covering a range of development topics. Popular trainings include:
      %ul
      -@offerings.teach.detail.remote.bullets.each_value do |bullet|
        %li=bullet
      %p
        We look forward to working with you to design a custom training program to fit your organization's needs.
  %div.specialty
    %div.panel
      %h1
        On-Site Trainings
      %p
        We are happy to travel to your workplace to teach you, anywhere in the world. Some places our consultants have taught are:
      %ul
      -@offerings.teach.detail.local.bullets.each_value do |bullet|
        %li=bullet
      %p
        Contact us for more details about scheduling an on-site training.
  %div.copy
    %div.panel
      %p
        The following courses are designed to get you up and running on Ruby and Rails. All courses are offered both remotely and on-site. Average class sizes typically range from 10-20 people. We can also work with you to design a custom training course that best suits the needs of your organization.
  %div.specialty
    %div.panel
      %h1=@offerings.teach.courses.ruby.heading
      %p
        =@offerings.teach.courses.ruby.paragraphs.intro
      %p
        =@offerings.teach.courses.rails.paragraphs.objectives
      %ul
      -@offerings.teach.courses.ruby.bullets.each_value do |bullet|
        %li=bullet
      %p
        =@offerings.teach.courses.ruby.paragraphs.prereqs
      %div.button-footprint
        %a.button{:href=>"mailto:info@nird.us?Subject=Tell%20Me%20More"}
          Learn More
  %div.specialty
    %div.panel
      %h1=@offerings.teach.courses.rails.heading
      %p
        =@offerings.teach.courses.rails.paragraphs.intro
      %p
        =@offerings.teach.courses.rails.paragraphs.objectives
      %ul
      -@offerings.teach.courses.rails.bullets.each_value do |bullet|
        %li=bullet
      %div.button-footprint
        %a.button{:href=>"mailto:info@nird.us?Subject=Tell%20Me%20More"}
          Learn More
%section.teach
  %div.specialty
    %div.panel
      %h1=@offerings.teach.courses.bootcamp.heading
      %p
        =@offerings.teach.courses.bootcamp.paragraphs.intro
      %p
        =@offerings.teach.courses.bootcamp.paragraphs.objectives
      %ul
      -@offerings.teach.courses.bootcamp.bullets.each_value do |bullet|
        %li=bullet
      %p
        =@offerings.teach.courses.bootcamp.paragraphs.prereqs
      %div.button-footprint
        %a.button{:href=>"mailto:info@nird.us?Subject=Tell%20Me%20More"}
          Learn More
  %div.specialty
    %div.panel
      %h1
        2 Day Rails Administration
      %p
        =@offerings.teach.courses.admin.paragraphs.intro
      %p
        =@offerings.teach.courses.admin.paragraphs.target
      %p
        =@offerings.teach.courses.admin.paragraphs.objectives
      %ul
      -@offerings.teach.courses.admin.bullets.each_value do |bullet|
        %li=bullet
      %p
        =@offerings.teach.courses.admin.paragraphs.prereqs
      %div.button-footprint
        %a.button{:href=>"mailto:info@nird.us?Subject=Tell%20Me%20More"}
          Learn More
  %div.copy
    %div.panel
      %h1=@offerings.teach.feedback.heading
      %p
        =@offerings.teach.feedback.paragraphs.one
      %p
        =@offerings.teach.feedback.paragraphs.two
  %div.copy
    %div.panel
      %h1=@offerings.teach.opensource.heading
      %p
        =@offerings.teach.opensource.paragraphs.intro
      %a{:href=>"http://tryruby.org/levels/1/challenges/0"}
        %img{:rel => "Try Ruby icon", :src => "/images/try_ruby_logo_square.png"}
      %a{:href=>"http://tryruby.org/levels/1/challenges/0"}
        Try Ruby
      %p
        =@offerings.teach.opensource.paragraphs.try
      %p
        =@offerings.teach.opensource.paragraphs.guides
      %p
        =@offerings.teach.opensource.paragraphs.monk
      %p
        =@offerings.teach.opensource.paragraphs.koans

