%section.teach
  %div.simple-box
    %p=@offerings.teach.intro
  %div.specialty
    %div.panel
      %h1=@offerings.teach.detail.remote.heading
      %p
        =@offerings.teach.detail.remote.paragraphs.host
      %ul
      -@offerings.teach.detail.remote.bullets.each_value do |bullet|
        %li=bullet
      %p
        =@offerings.teach.detail.remote.paragraphs.customize
  %div.specialty
    %div.panel
      %h1=@offerings.teach.detail.local.heading
      %p
        =@offerings.teach.detail.local.paragraphs.travel
      %ul
      -@offerings.teach.detail.local.bullets.each_value do |bullet|
        %li=bullet
      %p
        =@offerings.teach.detail.local.paragraphs.travel2 
  %div.simple-box
    %p=@offerings.teach.course_intro
  %div.specialty
    %div.panel
      %h1=@offerings.teach.courses.ruby.heading
      %p
        =@offerings.teach.courses.ruby.paragraphs.intro
      %ul
      -@offerings.teach.courses.ruby.bullets.each_value do |bullet|
        %li=bullet
      %p
        =@offerings.teach.courses.ruby.paragraphs.prereqs