.button-footprint
  text-align : center
.button
  background-color: $pink
  +bottom_shade($pink, darken($pink, 10%))
  border: none
  @extend %copy_font
  @extend %two_font
  @extend %light_font
  display   : inline-block
  text-align: center
  margin:
    top     : 1rem 
    bottom  : 1rem
  padding   : 0.5em
  &:hover
    
    background-color: darken($pink, 20%)
    +bottom_shade($pink, darken($pink, 20%))
    +shadow(0rem, 0rem, $flare, $flare / 2, rgba($pink, 0.15))