.contact_method
  @include row($margin_p, $gutter_p)
  .address 
    @extend p
    line-height : 1
  .form
    @include col(1, 1, $margin_p, $gutter_p)
  .field
    +col(4, 2, 0, 0, 0.5, 0)
    @extend %box
    height        : 7.5rem
    float         : left
    position      : relative
    label
      @extend h3
      position    : absolute
      top         : 1rem
      left        : 1rem
      right       : 1rem

    .input
      position    : absolute
      top         : 4rem
      left        : 1rem
      right       : 1rem
      input
        width     : 100%
      textarea
        width     : 100%
        height    : 10rem
        &.input
          bottom  : 1rem
    .button
      @extend button
      float       : left
      margin-left: 1rem
      padding     : 0.2rem 2rem 0.2rem 2rem

  .tall
    height        : 15rem


  %form_text
    display       : block
    text:
      align       : center
    width         : 100%

  .error
    position    : absolute
    top         : 1rem
    right       : 1rem
    h3
      color: $pink

  h1
    @extend %form_text
    margin        : 1rem

  p
    @extend %form_text
    margin-bottom : 1rem
    padding:
      top         : 2rem


  @media (min-width: 480px)
    .field
      +col(1, 1, 0, 0)

  @media (min-width: 768px)
    @include row($margin_t, $gutter_t)
    .form
      @include col(1, 1, $margin_t, $gutter_t)
    .field
      +col(4, 2, 0, 0, 0.5, 0)

  @media (min-width: 1024px)
    @include row($margin_s, $gutter_s)
    .form
      @include col(1, 1, $margin_s, $gutter_s)
    .field
      +col(4, 2, 0, 0, 0.5, 0)

  @media (min-width: 1920px)
    @include row($margin_l, $gutter_l)
    .form
      @include col(1, 1, $margin_l, $gutter_l)
    .field
      +col(4, 2, 0, 0, 0.5, 0)

.contact_clearfix
  height: 1px
  clear: both
