$ma         : 10%

.tenth
  display   : block
  float     : left
  width     : 10%
  height    : 30px
  &:nth-child(2n-1)
    background:
      color     : black
  &:nth-child(2n)
    background:
      color     : white
.hundredth
  display   : block
  float     : left
  width     : 1%
  height    : 20px
  &:nth-child(2n-1)
    background:
      color     : black
  &:nth-child(2n)
    background:
      color     : white

.rowtest
  @include row(5%, 15%)
  float     : left
  height    : 50px
  background: 
    color     : white

.coltest
  @include col(3, 1, 5%, 15%)
  @extend %box
  background:
    color     : gold
  float       : left
  padding:
    left      : 10%

.coltestR
  @extend .coltest
  float       : right