footer
  background:
    color       : $pink
  opacity       : 0.8
  div 
    @extend %box
    text-align  : center
    margin-top  : 1em
    padding     : 2rem
    p
      font:
        size    : 12px
        size    : 1.2rem
      text-align: center
    a
      @extend p
   

