footer
  div 
    @extend %box
    text-align: center
    margin: 1em
    padding:
      left: 3rem
      right: 3rem

   
  p
    font:
      size    : 12px
      size    : 1.2rem
  a
    @extend p
 

