.pay_method
  @include row($margin_p, $gutter_p)
  .stripe_form
    @include col(1, 1, $margin_p, $gutter_p)
    &:before
      position    : absolute
      content     : ''
      top         : 1rem
      left        : 2rem
      right       : 2rem
      height      : 4rem
      @include bottom_shade(rgba(white, 0.05), rgba(white, 0.01))
      @include round(1.0rem)
  .pay_field
    +col(1, 1, 0, 0)
    @extend %box
    height        : 7.5rem
    float         : left
    label
      @extend h3
      position    : absolute
      top         : 1rem
      left        : 1rem
      right       : 1rem
    .input
      position    : absolute
      bottom      : 1rem
      left        : 1rem
      right       : 1rem
      input
        width     : 100%
  .stripe
    float         : right
    .stripe-button-el
      position    : absolute
      bottom      : 0rem
      right       : 1rem


  %form_text
    display       : inline-block
    text:
      align       : center
    width         : 100%

  h1
    @extend %form_text
    margin        : 1rem

  p
    @extend %form_text
    margin-bottom : 1rem
    padding:
      top         : 2rem

  @media (min-width: 480px)
    .pay_field
      +col(2, 1, 0, 0)
  
  @media (min-width: 768px)
    @include row($margin_t, $gutter_t)
    .stripe_form
      @include col(1, 1, $margin_t, $gutter_t)
    .pay_field
      +col(3, 1, 0, 0)

  @media (min-width: 1024px)
    @include row($margin_s, $gutter_s)
    .stripe_form
      @include col(1, 1, $margin_s, $gutter_s)
    .pay_field
      +col(3, 1, 0, 0)
  
  @media (min-width: 1920px)
    @include row($margin_l, $gutter_l)
    .stripe_form
      @include col(1, 1, $margin_l, $gutter_l)
    .pay_field
      +col(3, 1, 0, 0)

.payment_received
  @extend .pay_method
  h2
    display       : block
    +col(1, 1, $margin_p, $gutter_p)
    text:
      align       : center
    padding:
      top         : 5rem
    @media (min-width: 768px)
      +col(1, 1, $margin_t, $gutter_t)

    @media (min-width: 1024px)
      +col(1, 1, $margin_s, $gutter_s)
    
    @media (min-width: 1920px)
      +col(1, 1, $margin_l, $gutter_l)