nav
  position      : fixed
  z-index       : 1
  top           : 0
  left          : 0
  right         : 0
  padding:
    top         : 1rem
    bottom      : 0.5rem
  background:
    color       : #000
  a
    $radius       : 1rem
    $flare        : 1rem
    
    @extend p
    color       : white
    @extend %fade_in_out
    &:hover
      color     : $pink
      text:
        shadow  : 0 0 1rem rgba($pink, 0.5)
      @extend %fade_in_out

    padding:
      left        : 3rem
      right       : 3rem

    margin:
      left        : $margin_p
      right       : $margin_p
    @media (min-width: 600px)
      margin:
        left      : $margin_t
        right     : $margin_t
    @media (min-width: 1024px)
      margin:
        left      : $margin_s
        right     : $margin_s
    @media (min-width: 1920px)
      margin:
        left      : $margin_l
        right     : $margin_l
    .pay
      float       : right