.logo
  height        : 360px
  margin:
    top         : 1rem
  height        : 20rem
  @media (min-width: 480px)
    margin:
      top       : 1rem
    height      : 24rem
  @media (min-width: 600px)
    margin:
      top       : 2rem
    height      : 24rem
  @media (min-width: 1024px)
    margin:
      top       : 4rem
    height      : 30rem
  background:
    image       : url(images/logo.png)
    repeat      : no-repeat
    position    : center center
    size        : auto 100%
  h1
    text:
      align     : center
      indent    : -9999px
  h2
    text:
      align     : center
      indent    : -9999px