.logo
  height        : 360px
  height        : 15rem
  background:
    image       : url(images/logo.png)
    repeat      : no-repeat
    position    : center center
    size        : auto 100%
  h1
    text:
      align     : center
      indent    : -9999px
  h2
    text:
      align     : center
      indent    : -9999px