.offerings
  @include row($margin_p, $gutter_p)
  h1
    @include col(1, 1, $margin_p, $gutter_p)
    margin:
      top         : 1em
    text:
      align       : center

  .offering
    @include col(1, 1, $margin_p, $gutter_p)
    margin:
      top         : 4rem
    background:
      color       : $dark
      color       : rgba($dark, 0.7)
    @include bottom_shade(rgba($grey, 0.4), rgba($dark, 0.5))
    @include round_corner(1.0rem)
    @extend %fade_in_out
    &:hover
      background:
        color       : $pink
        color       : rgba($pink, 0.5)
      @include bottom_shade(rgba($pink, 0.6), rgba($pink, 0.1))
      @include round_corner(1.0rem)
      @extend %fade_in_out
    
    &:before
      position    : absolute
      content     : ''
      top         : 1rem
      left        : 1rem
      right       : 1rem
      height      : 4rem
      @include bottom_shade(rgba(white, 0.05), rgba(white, 0.01))
      @include round_corner(1.0rem)
    
    h2
      margin:
        top       : 1rem
        left      : 2rem
        right     : 2rem
      text:
        align     : center

    p
      margin:
        left      : 2rem
        right     : 2rem
        bottom    : 1em

  @media (min-width: 768px)
    @include row($margin_t, $gutter_t)
    h1
      @include col(1, 1, $margin_t, $gutter_t)
    .offering
      @include col(3, 1, $margin_t, $gutter_t)
  
  @media (min-width: 1024px)
    @include row($margin_s, $gutter_s)
    h1
      @include col(1, 1, $margin_s, $gutter_s)
    .offering
      @include col(3, 1, $margin_s, $gutter_s)
  
  @media (min-width: 1920px)
    @include row($margin_l, $gutter_l)
    h1
      @include col(1, 1, $margin_l, $gutter_l)
    .offering
      @include col(3, 1, $margin_l, $gutter_l)