.offerings
  @include row($margin_p)

  .offering
    @include col(1, 1, $margin_p, $gutter_p)
    %extend %box
    float         : left
    margin:
      top         : 2rem
    .panel
      $radius     : 1rem
      $flare      : 1rem
      @include buffer($flare)
      @include round($radius)
      @include pad($radius)

      %extend %box
      background:
        color     : $dark
        color     : rgba($dark, 0.7)
      @include bottom_shade(rgba($grey, 0.4), rgba($dark, 0.5))
      
      @extend %fade_in_out
      &:hover
        background:
          color   : $pink
          color   : rgba($pink, 0.5)
        @include bottom_shade(rgba($pink, 0.6), rgba($pink, 0.1))
        @include shadow(0rem, 0rem, $flare, $flare / 2, rgba($pink, 0.15))
        @extend %fade_in_out
      
      &:before
        position    : absolute
        content     : ''
        top         : 2rem
        left        : 2rem
        right       : 2rem
        height      : 4rem
        @include bottom_shade(rgba(white, 0.05), rgba(white, 0.01))
        @include round(1.0rem)
    
      h2
        color       : $pink
        text:
          align     : center
      p
        margin:
          left      : 1rem
          right     : 1rem
      @extend %fade_in_out
      &:hover
        h2
          color     : white
          text:
            shadow  : 0 0 1rem rgba(white, 0.25)
        p
          color     : $bright
          text:
            shadow  : 0 0 1rem rgba($bright, 0.15)
        @extend %fade_in_out

  @media (min-width: 768px)
    @include row($margin_t)
    h1
      @include col(1, 1, $margin_t, $gutter_t)
    .offering
      @include col(3, 1, $margin_t, $gutter_t)
  
  @media (min-width: 1024px)
    @include row($margin_s)
    h1
      @include col(1, 1, $margin_s, $gutter_s)
    .offering
      @include col(3, 1, $margin_s, $gutter_s)
      .panel
        h2
          color         : $bright
  
  @media (min-width: 1920px)
    @include row($margin_l)
    h1
      @include col(1, 1, $margin_l, $gutter_l)
    .offering
      @include col(3, 1, $margin_l, $gutter_l)