$image_pad_1      : 1rem
$image_pad_2      : 3rem
$image_pad_3      : 4rem 

%container
  position        : relative
  width           : 200px
  height          : 200px

%logo
  img
    width         : 100%
    height        : auto

.offerings
  @include row($margin_p, $gutter_p)

  .offering
    @include col(1, 1, $margin_p, $gutter_p)
    position      : relative
    %extend %box
    float         : left

    .panel
      @include shadow(0rem, 0rem, $flare, $flare / 2, rgba($grey, 0.15))
      @extend %border
      &:hover
        @include shadow(0rem, 0rem, $flare, $flare, rgba($grey, 0.25))
        h1
          color   : $pink
    
      

  @media (min-width: 768px)
    @include row($margin_t, $gutter_t)
    .offering
      @include col(1, 1, $margin_t, $gutter_t)

  @media (min-width: 900px)
    .offering
      @include col(3, 1, $margin_t, $gutter_t)
  
  @media (min-width: 1024px)
    @include row($margin_s, $gutter_s)
    .offering
      @include col(3, 1, $margin_s, $gutter_s)

  
  @media (min-width: 1920px)
    @include row($margin_l, $gutter_l)
    .offering
      @include col(3, 1, $margin_l, $gutter_l)

.build, .teach, .partner, .trainings, .advanced_bootcamp
  @include row($margin_p, $gutter_p)
  h1
    text-align    : center
  a 
    @extend %copy_font
    @extend %one_font

  .copy
    @include col(1, 1, $margin_p, $gutter_p)
    float         : left
    margin        : 1em auto
    h2
      text-align  : center

  .specialty
    @include col(1, 1, $margin_p, $gutter_p)
    @include shadow(0rem, 0rem, $flare, $flare / 2, rgba($grey, 0.15))
    @extend %border
    margin        : 1rem
    float         : left
    h1
      text:
        align     : center
    h2
      padding-left: 2em
    p
      padding     : 0.5em
    .details 
      p
        padding-left: 4em
    .register
      text-align  : center
      padding     : 2em
      a
        @extend %two_font 
        @extend %heavy_font
        @extend %header_font
    .mapframe
      text-align  : center 
      margin      : 2em auto

  .display
    +row()
    margin-bottom: 1rem
    a
      padding     : 1rem
 
  .os-icon
    +col(6, 1, 0, 0)
    float         : left
    img
      width       : 100%
      height      : auto
      @include shadow(0rem, 0rem, $flare, $flare / 2, rgba($grey, 0.15))
      @extend %border
      &:hover
        @include shadow(0rem, 0rem, $flare, $flare, rgba($grey, 0.25))
    
  .os-copy
    +col(6, 5, 0, 0)
    float         : left
    p, a
      padding-left: 4rem

  .friend
    @include col(1, 1, 0, 0)
    @extend %box
    display       : block
    float         : left
    margin:
      top         : 3rem

    a
      @extend %box
      display     : block
      width       : 200px
      margin      : auto auto
      &:hover
        h3
          color   : $pink

    .container
      @extend %container
      @extend %logo
      @include shadow(0rem, 0rem, $flare, $flare / 2, rgba($grey, 0.15))
      @extend %border
      &:hover
        @include shadow(0rem, 0rem, $flare, $flare, rgba($grey, 0.25))

    h3
      text:
        align     : center
      margin:
        top       : 1rem
        bottom    : 1rem
        left      : 1rem
        right     : 1rem
    p
      text:
        align     : center

  .height_set
    display       : inline-block
    width         : 100%

  @media (min-width: 480px)
    .friend
      @include col(2, 1, 0, 0)

  @media (min-width: 768px)
    @include row($margin_t, $gutter_t)
    .specialty
      @include col(2, 1, $margin_t, $gutter_t)
    .friend
      @include col(3, 1, 0, 0)

  @media (min-width: 900px)
    @include row($margin_t, $gutter_t)
    .copy
      @include col(1, 1, $margin_t, $gutter_t)
    .specialty
      @include col(2, 1, $margin_t, $gutter_t)

  @media (min-width: 1024px)
    @include row($margin_s, $gutter_s)
    .copy
      @include col(1, 1, $margin_s, $gutter_s)
    .specialty
      @include col(2, 1, $margin_s, $gutter_s)

  @media (min-width: 1920px)
    @include row($margin_l, $gutter_l)
    h1
      @include col(1, 1, $margin_l, $gutter_l)
    .copy
      @include col(1, 1, $margin_l, $gutter_l)
    .specialty
      @include col(2, 1, $margin_l, $gutter_l)
