%container
  position    : relative
  margin:
    top       : 3rem
    bottom    : 3rem
  width       : 200px
  height      : 200px
  @include round(1.0rem)
  overflow    : hidden
  @extend %fade_in_out

%headshot
  img
    width       : 100%
    height      : auto

.people
  @include row($margin_p)
  .team
    @include col(1, 1, $margin_p, $gutter_p)
    %extend %box
    .panel
      margin:
        top         : 1rem
        bottom      : 4rem
      
      &:before
        position    : absolute
        content     : ''
        top         : 1rem
        left        : 2rem
        right       : 2rem
        height      : 4rem
        @include bottom_shade(rgba(white, 0.05), rgba(white, 0.01))
        @include round(1.0rem)
    
    .profile
      @include row(0)
    
    .text
      @include col(1, 1, 0, 0)
      @extend %box
      p
        margin:
          top: 1em
        text:
          align: justify
      @media (min-width: 768px)
        @include col(3, 2, 0, 0)
        float : left
        h1
          margin:
            top: 1.6em
          text:
            align: left
        p
          padding:
            right: 1rem
    .image
      @include col(1, 1, 0, 0)
      @extend %box
      .container
        @extend %container
        margin:
          top: 1rem
          left: auto
          right: auto
        @extend %headshot
      @media (min-width: 768px)
        @include col(3, 1, 0, 0)
        float : left
        .container
          margin:
            top: 6.5rem

  h1
    @include col(1, 1, 0, 0)
    %extend %box
    text:
      align       : center

  .height_set
    display       : inline-block
    width         : 100%
    
  
  
  

  .person
    @include col(1, 1, 0, 0)
    @extend %box
    display       : block
    float         : left

    a
      @extend %box
      display     : block
      width       : 200px
      margin      : auto auto
      
      &:hover
        
        h3
          @extend %fade_in_out
          color   : $pink
        .container
          @extend %bump_up

    .container
      @extend %container
      @extend %headshot

    h3
      text:
        align     : center
      margin:
        top       : 1rem
        bottom    : 1rem
        left      : 1rem
        right     : 1rem
      @extend %fade_in_out
    p
      text:
        align     : center
    

    

  @media (min-width: 480px)
    .person
      @include col(2, 1, 0, 0)
  
  @media (min-width: 768px)
    @include row($margin_t)
    .team
      @include col(1, 1, $margin_t, $gutter_t)
    .person
      @include col(3, 1, 0, 0)

  @media (min-width: 1024px)
    @include row($margin_s)
    .team
      @include col(1, 1, $margin_s, $gutter_s)
  
  @media (min-width: 1920px)
    @include row($margin_l)
    .team
      @include col(1, 1, $margin_l, $gutter_l)
