@import url(http://fonts.googleapis.com/css?family=Montserrat:700|Arimo:400)

%header_font
  font:
    family  : 'Montserrat', Helvetica, sans-serif

%copy_font
  font:
    family  : 'Arimo', Helvetica, sans-serif

%bright_font
  color     : $bright

%light_font
  color     : $light

%half_font
  font:
    size    : 8px
    size    : 0.8rem

%one_font
  font:
    size    : 20px
    size    : 2rem

%two_font
  font:
    size    : 25px
    size    : 2.5rem

%three_font
  font:
    size    : 35px
    size    : 3.5rem

h1
  @extend %header_font
  @extend %three_font
  @extend %bright_font

h2
  @extend %header_font
  @extend %two_font
  @extend %bright_font

h3
  @extend %copy_font
  @extend %two_font
  @extend %light_font

h4
  @extend %copy_font
  @extend %one_font
  @extend %light_font


p
  @extend %copy_font
  @extend %one_font
  @extend %light_font
  text-align: justify
  line-height: 1.5

ul, ol, li
  @extend %copy_font
  @extend %one_font
  @extend %light_font
  margin-left: 5rem
  line-height: 1.5

a
  text-decoration:  none
  color       : white
  @extend %fade_in_out
  &:hover
    color     : $pink
    text:
      shadow  : 0 0 1rem rgba($pink, 0.5)
    @extend %fade_in_out