@import url(http://fonts.googleapis.com/css?family=Montserrat:400|Arimo:400)

%header_font
  font:
    family  : 'Montserrat', Helvetica, sans-serif
  color     : $bright

%copy_font
  font:
    family  : 'Arimo', Helvetica, sans-serif
  color     : $light

%half_font
  font:
    size    : 8px
    size    : 0.8rem

%one_font
  font:
    size    : 15px
    size    : 1.5rem

%two_font
  font:
    size    : 30px
    size    : 3.0rem

%three_font
  font:
    size    : 35px
    size    : 3.5rem

h1
  @extend %header_font
  @extend %three_font

h2
  @extend %header_font
  @extend %two_font

h3
  @extend %copy_font
  @extend %one_font

p, ul, ol, li
  @extend %copy_font
  @extend %one_font