@import url(http://fonts.googleapis.com/css?family=Noto+Sans:700|Arimo:400)

%header_font
  font:
    family  : 'Noto Sans', Helvetica, sans-serif

%copy_font
  font:
    family  : 'Arimo', Helvetica, sans-serif

%light_font
  color     : $white

%dark_font
  color     : $dark

%half_font
  font:
    size    : 8px
    size    : 0.8rem

%one_font
  font:
    size    : 18px
    size    : 1.8rem

%two_font
  font:
    size    : 24px
    size    : 2.4rem

%three_font
  font:
    size    : 35px
    size    : 3.5rem

h1
  @extend %header_font
  @extend %three_font
  @extend %dark_font

h2
  @extend %header_font
  @extend %two_font
  @extend %dark_font

h3
  @extend %copy_font
  @extend %two_font
  @extend %dark_font

h4
  @extend %copy_font
  @extend %one_font
  @extend %dark_font


p
  @extend %copy_font
  @extend %one_font
  @extend %dark_font
  text-align: justify
  line-height: 1.5

ul, ol, li
  @extend %copy_font
  @extend %one_font
  @extend %dark_font
  margin-left: 5rem
  line-height: 1.5

a
  text-decoration:  none
  color       : $pink
  &:hover
    color     : $bright