%section.partner
  %h1=@offerings.partner.tagline
  %div.specialty
    %div.panel
      %h2=@offerings.teach.detail.remote.heading
      %p
        =@offerings.teach.detail.remote.paragraphs.host
      %ul
      -@offerings.teach.detail.remote.bullets.each_value do |bullet|
        %li=bullet
      %p
        =@offerings.teach.detail.remote.paragraphs.customize
  %div.specialty
    %div.panel
      %h2=@offerings.teach.detail.local.heading
      %p
        =@offerings.teach.detail.local.paragraphs.travel
      %ul
      -@offerings.teach.detail.local.bullets.each_value do |bullet|
        %li=bullet